# King County, Washington Housing Sales Data Analysis

Datasource: [House Sales in King County, USA](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction)

In [1]:
import pandas as pd 
import numpy as np 
import plotly.express as px 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("HouseData.xlsx", engine="openpyxl")
print(f"Shape of dataframe: {df.shape}")

Shape of dataframe: (21060, 16)

In [3]:
# Check for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21060 entries, 0 to 21059
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21060 non-null  int64
 1   date         21060 non-null  object
 2   price        21060 non-null  int64
 3   bedrooms     21060 non-null  int64
 4   bathrooms    21060 non-null  float64
 5   sqft_living  21060 non-null  int64
 6   sqft_lot     21060 non-null  int64
 7   floors       21060 non-null  float64
 8   waterfront   21060 non-null  object
 9   view         21060 non-null  object
 10  condition    21060 non-null  object
 11  grade        21060 non-null  int64
 12  yr_built     21060 non-null  int64
 13  zipcode      21060 non-null  int64
 14  lat          21060 non-null  float64
 15  long         21060 non-null  float64
dtypes: float64(4), int64(8), object(4)
memory usage: 2.6+ MB

In [9]:
df['date'] = pd.to_datetime(df['date'])

In [5]:
# Check for duplicated entries
df.duplicated().sum()

0

In [7]:
quant_cols = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'grade']
df[quant_cols].describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,grade
count,2.106000e+04,21060.000000,21060.000000,21060.000000,2.106000e+04,21060.000000,21060.000000
mean,5.002696e+05,3.343162,2.077991,2019.486942,1.474301e+04,1.484924,7.590123
std,2.465775e+05,0.882395,0.729351,822.018441,3.995697e+04,0.538113,1.095947
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000
25%,3.199500e+05,3.000000,1.500000,1410.000000,5.001000e+03,1.000000,7.000000
50%,4.450000e+05,3.000000,2.250000,1890.000000,7.553500e+03,1.000000,7.000000
75%,6.250000e+05,4.000000,2.500000,2490.000000,1.045400e+04,2.000000,8.000000
max,1.495000e+06,7.000000,6.750000,7480.000000,1.651359e+06,3.500000,12.000000

In [10]:
df.describe(include="O")

       waterfront     view condition
count       21060    21060     21060
unique          2        5         5
top            No  No View   Average
freq        20976    19226     13684

In [13]:
cat_cols = ['waterfront', 'view', 'condition']

for category in cat_cols:
    print(f"Value counts of {category}:")
    print(df[category].value_counts())
    print("--------------------------------------")
    print()

Value counts of waterfront:
waterfront
No     20976
Yes       84
Name: count, dtype: int64
--------------------------------------

Value counts of view:
view
No View      19226
Average        894
Good           436
Fair           302
Excellent      202
Name: count, dtype: int64
--------------------------------------

Value counts of condition:
condition
Average             13684
Good                 5546
Very Good            1630
Fair- Badly worn      171
Poor- Worn out         29
Name: count, dtype: int64
--------------------------------------

No further data cleaning will be performed as dataset is clean.

### Notes: 
- To add in regression analysis 
- To add in EDA analysis